<div class="container mt-4">
  <h1>Frontend Lead Interview</h1>

  <nav class="mb-4">
    <div class="btn-group mb-3" role="group">
      <a
        routerLink="/race-conditions-simple"
        class="btn btn-outline-danger"
        routerLinkActive="active"
        style="margin-right: 50px"
      >
        🐛 Race Conditions
      </a>
      <a
        routerLink="/validation-race-conditions"
        class="btn btn-outline-danger"
        routerLinkActive="active"
      >
        🐛 Validation challenge
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
